---
import App from '../components/main/App';
---

<!doctype html>
<html lang="en" hx-ext="preload">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>App</title>
        <link rel="stylesheet" href="/styles.css">
        <script src="https://unpkg.com/htmx.org@1.9.12" crossorigin="anonymous"></script>
    </head>
    
    <body class="bg-gray-100 text-gray-800 min-h-screen flex flex-col">
        <App client:load />
    </body>
</html>
