---
const { icon } = Astro.props;
---

<div class="icon-select-item flex flex-row items-center gap-3 p-2 rounded-md cursor-pointer hover:bg-gray-100 transition" onclick="setCategorieIcon(this)" data-icon={icon}>
    <img src={`https://api.iconify.design/${icon}.svg`} alt={icon} class="w-6 h-6" />
    <p class="text-sm text-gray-700 truncate">{icon}</p>
</div>