---
import IconSelect from './IconSelect.astro';

const { icons } = Astro.props;
---

<div class="icon-select absolute top-[100%] mt-2 left-0 w-full max-h-60 overflow-y-auto bg-white shadow-lg rounded border z-50">
    {icons.map((icon: string) => (
        <IconSelect icon={icon} />
    ))}
</div>  